@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    font-family: 'Outfit', Helvetica, sans-serif;
}

.page-heading {
    margin-top: 1.3rem !important;
    margin-bottom: 1.5rem !important;
    text-transform: uppercase;
}

.home-background {
    background: url(../../media/pexels-almapapi-2396108.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.btn-primary {
    --bs-btn-bg: #0D1B2A;
    --bs-btn-border-color: none;
    --bs-btn-hover-bg: #070f17;
    --bs-btn-hover-border-color: none;
}

.btn-outline-primary {
    --bs-btn-color: #0D1B2A;
    --bs-btn-border-color: #0D1B2A;
    --bs-btn-hover-bg: #0D1B2A;
    --bs-btn-hover-border-color: none;
    --bs-btn-active-bg: #0D1B2A;
    --bs-btn-active-border-color: #0D1B2A;
}

.to-top-button {
    height: 42px;
    width: 120px;
    position: fixed;
    bottom: 12px;
    right: 12px;
}

.btt-link {
    text-decoration: none;
    color: #fff;
}

.home-text-background {
    background-color: rgba(65, 90, 119, 0.8);
    border-radius: 1rem;
    padding: 1rem 1.3rem;
}

#main-nav {
    background-color: #415A77;
    --bs-navbar-color: #fff;
    --bs-navbar-hover-color: #d5d5d5;
    --bs-navbar-active-color: #d5d5d5;
}

#free-delivery-banner {
    background-color: #0D1B2A;
    color: #fff;
}

.navbar {
    --bs-navbar-padding-y: 0rem;
}

.product-card {
    text-decoration: none;
}

.product-card:hover .card-body p,
.product-card:hover .card-footer small {
    text-decoration: underline;
}

.product-padding {
    padding: 1rem 0 0 0;
}

.logo {
    width: 13rem;
    height: auto;
}

.logo-small {
    width: 10rem;
    height: auto;
}

#topnav {
    margin-bottom: 0.7rem;
}

.footer {
    background-color: #0c1b2a;
    color: #fff;
    margin-top: auto;
}

.footer-heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: -0.1rem;
}

.footer-quick-link,
.footer-email {
    text-decoration: none;
    color: #fff;
}

.footer-quick-link:hover,
.footer-email:hover,
.footer-social-links:hover {
    color: #d5d5d5;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.footer-social-links {
    text-decoration: none;
    color: #fff;
    font-size: 1.7rem;
}

.hr-footer {
    width: 7rem;
}

.category-box {
    position: relative;
}

.category-image {
    height: 350px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #dee2e6;
}

.category-button {
    position: absolute;
    bottom: 1.8rem;
    left: 2rem;
    width: 50%;
    transition: background-color 0.3s;
    text-transform: uppercase;
}

.category-box:hover .category-button {
    background-color: #070f17;
    color: white;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}