<!-- Footer container -->
<footer class="container-fluid footer mt-4">
    <div class="row text-center pt-4 pb-4">
        <!-- Quick Links -->
        <div class="col-12 col-md-4">
            <p class="footer-heading mt-md-0 mt-2">Quick Links</p>
            <div class="d-flex justify-content-center">
                <hr class="hr-footer">
            </div>
            <a class="footer-quick-link" href="{% url 'products' %}">All Products</a>
            <br>
            <a class="footer-quick-link" href="{% url 'products' %}?category=cooking,kettles,cutlery">Kitchen</a>
            <br>
            <a class="footer-quick-link" href="{% url 'products' %}?category=chairs,televisions,tables">Living Room</a>
            <br>
            <a class="footer-quick-link" href="{% url 'products' %}?category=sheets,wardrobes,pillows">Bedroom</a>
            <br>
            <a class="footer-quick-link" href="{% url 'products' %}?category=towels,mirrors,accessories">Bathroom</a>
        </div>
        <!-- Contact details -->
        <div class="col-12 col-md-4">
            <p class="footer-heading mt-md-0 mt-4">Contact Us</p>
            <div class="d-flex justify-content-center">
                <hr class="hr-footer">
            </div>
            <p><i class="fa-solid fa-location-dot"></i> Unit 12, West Park
                <br>
                Swansea
                <br>
                SA10 4AY</p>
            <p><i class="fa-solid fa-phone"></i> <a href="tel:01792599174" class="footer-tel">01792 599174</a></p>
            <a class="footer-email" href="mailto:theinhometeam@gmail.com"><i class="fa-solid fa-envelope"></i>
                theinhometeam@gmail.com</a>
        </div>
        <!-- Social media links -->
        <div class="col-12 col-md-4">
            <p class="footer-heading mt-md-0 mt-4">Follow Us</p>
            <div class="d-flex justify-content-center">
                <hr class="hr-footer">
            </div>
            <a class="footer-social-links pe-2" href="https://www.facebook.com" target="_blank"><i
                    class="fa-brands fa-facebook"></i></a>
            <a class="footer-social-links pe-2" href="https://www.instagram.com" target="_blank"><i
                    class="fa-brands fa-instagram"></i></a>
            <a class="footer-social-links" href="https://www.youtube.com" target="_blank"><i
                    class="fa-brands fa-youtube"></i></a>
        </div>
    </div>
    <!-- Copyright -->
    <div class="row pb-4 text-center">
        <div class="col">
            <p><i class="fa-regular fa-copyright"></i> 2024 In Home - This is a fictional site for educational purposes
                only.</p>
        </div>
    </div>
</footer>