{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5">
                <p class="mb-0 heading-3">{{ product.name }}</p>
                <p class="mb-3 heading-5">£{{ product.price }}</p>
                <p class="mb-3">
                    {% if product.category %}
                    {% if product.category.name|in_category:"cooking,kettles,cutlery" %}
                    <i class="fa-solid fa-utensils me-1 category-icon"></i>Kitchen
                    {% elif product.category.name|in_category:"chairs,televisions,tables" %}
                    <i class="fa-solid fa-couch me-1 category-icon"></i>Living Room
                    {% elif product.category.name|in_category:"sheets,wardrobes,pillows" %}
                    <i class="fa-solid fa-bed me-1 category-icon"></i>Bedroom
                    {% elif product.category.name|in_category:"towels,mirrors,accessories" %}
                    <i class="fa-solid fa-bath me-1 category-icon"></i>Bathroom
                    {% endif %}
                    {% endif %}
                </p>
                {% if product.rating %}
                <p><i class="fas fa-star me-1 rating-star"></i>{{ product.calculate_rating }} / 5</p>
                {% else %}
                <p>No Rating</p>
                {% endif %}
                <p class="mt-3">{{ product.description }}</p>
                {% if request.user.is_superuser %}
                <small class="ml-3">
                    <a href="{% url 'edit_product' product.id %}">Edit</a> |
                    <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                </small>
                {% endif %}
                <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="w-50">
                                <div class="input-group input-group-{{ product.id }}">
                                    <div class="input-group-text">
                                        <button
                                            class="decrement-qty btn btn-primary rounded-0 decrement-qty_{{ product.id }}"
                                            data-item_id="{{ product.id }}">
                                            <span>
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control qty_input id_qty_{{ product.id }}" type="number"
                                        name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}">
                                    <div class="input-group-text">
                                        <button
                                            class="increment-qty btn btn-primary rounded-0 increment-qty_{{ product.id }}"
                                            data-item_id="{{ product.id }}">
                                            <span>
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <a href="{% url 'products' %}" class="btn btn-outline-primary mt-5">
                                <span>
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <input type="submit" class="btn btn-primary text-uppercase mt-5" value="Add to Bag">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 mx-auto">
            <p class="heading-4 text-uppercase">Product Reviews</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 mx-auto">
            {% if request.user.is_authenticated %}
            <form method="POST" action=".">
                {% csrf_token %}
                <div>
                    <label for="review" class="form-label mb-2">What did you think about this product?</label>
                    <textarea name="details" class="form-control" placeholder="Enter your feedback here..."
                        id="review" rows="5" required></textarea>
                </div>
                <div>
                    <label for="rating" class="form-label my-2">Please rate this product</label>
                    <select name="rating" class="form-select mb-3" id="rating" aria-label="Choose Rating" required>
                        <option value="" disabled selected>Please choose a rating...</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div>
                    <button class="btn btn-primary mb-1" type="submit">Submit</button>
                </div>
                <div>
                    <p class="review-muted-text"><em>* Already reviewed this product? Submitting a new review will update your existing one.</em></p>
                </div>
            </form>
            {% else %}
            <p class="heading-6"><em>Please <a href="{% url 'account_login' %}"
                        class="text-decoration-none">login</a> or <a href="{% url 'account_signup' %}"
                        class="text-decoration-none">register</a> to post your own review.</em></p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 mx-auto">
            {% if reviews %}
            <div class="accordion" id="reviews-accordion">
                {% for review in reviews %}
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse{{ review.id }}" aria-expanded="true" aria-controls="collapse{{ review.id }}">
                            <div><strong>{{ review.rating }} star</strong> review submitted by <strong>{{ review.submitted_by }}</strong>...</div>
                        </button>
                    </h2>
                    <div id="collapse{{ review.id }}" class="accordion-collapse collapse" data-bs-parent="#reviews-accordion">
                        <div class="accordion-body">
                            <p>Review: {{ review.details }}</p>
                            <p>Date submitted: {{ review.date_submitted|date:"d-m-Y" }}</p>
                            {% if review.submitted_by == request.user or request.user.is_superuser %}
                            <form method="post" action="{% url 'product_detail' product.id %}">
                                {% csrf_token %}
                                <input type="hidden" name="review_id" value="{{ review.id }}">
                                <input type="hidden" name="delete_review" value="true">
                                <button type="submit" class="btn btn-danger">Delete Review</button>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <p>No reviews have been submitted for this product yet.</p>
            {% endif %}
        </div>
    </div>
    
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}