{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5">
                <p class="mb-0 heading-3">{{ product.name }}</p>
                <p class="mb-3 heading-5">£{{ product.price }}</p>
                <p class="mb-3">
                    {% if product.category %}
                    {% if product.category.name|in_category:"cooking,kettles,cutlery" %}
                    <i class="fa-solid fa-utensils me-1 category-icon"></i>Kitchen
                    {% elif product.category.name|in_category:"chairs,televisions,tables" %}
                    <i class="fa-solid fa-couch me-1 category-icon"></i>Living Room
                    {% elif product.category.name|in_category:"sheets,wardrobes,pillows" %}
                    <i class="fa-solid fa-bed me-1 category-icon"></i>Bedroom
                    {% elif product.category.name|in_category:"towels,mirrors,accessories" %}
                    <i class="fa-solid fa-bath me-1 category-icon"></i>Bathroom
                    {% endif %}
                    {% endif %}
                </p>
                {% if product.rating %}
                <p><i class="fas fa-star me-1 rating-star"></i>{{ product.rating }} / 5</p>
                {% else %}
                <p>No Rating</p>
                {% endif %}
                <p class="mt-3">{{ product.description }}</p>
                {% if request.user.is_superuser %}
                <small class="ml-3">
                    <a href="{% url 'edit_product' product.id %}">Edit</a> |
                    <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                </small>
                {% endif %}
                <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="w-50">
                                <div class="input-group">
                                    <div class="input-group-text">
                                        <button class="decrement-qty btn btn-primary" data-item_id="{{ product.id }}"
                                            id="decrement-qty_{{ product.id }}">
                                            <span>
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control qty_input" type="number" name="quantity" value="1"
                                        min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                    <div class="input-group-text">
                                        <button class="increment-qty btn btn-primary" data-item_id="{{ product.id }}"
                                            id="increment-qty_{{ product.id }}">
                                            <span>
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <a href="{% url 'products' %}" class="btn btn-outline-primary mt-5">
                                <span>
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <input type="submit" class="btn btn-primary text-uppercase mt-5" value="Add to Bag">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}